@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.form-group{
    padding:40px;
    width: 50%;
    color:beige;
    margin-left: 25%;
    margin-right:25%;
    
    
}
.card{
    margin-left: 25%;
    margin-right:25%;

    background-color:white;
}
.icons img{
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.img-thumbnail{
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;  
}
.projects{
    color:beige;
    font-family: 'Anton', sans-serif;
}
.about{
    color:beige;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}
.profilepic{
    border: 5px;
    border-style:solid;
    border-color:black;
}
.contact{
    font-family: 'Anton', sans-serif;
}
.hometext{
    color:beige;
    font-family: 'Anton', sans-serif;
}